<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scorecard Temp</title>

  <!-- Main Scorecard CSS -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body id="yachZscorecard">
  <script src="cs-scoring.js" defer></script>

  <header>
    <svg id="bgTriangle" height="79" width="102" focusable="false">
      <polygon points="0,0 50,75 100,0" />
    </svg>
    <div id="headerText">
      <p>Welcome to</p>
      <h1>Yacht-Z</h1>
    </div>
  </header>

  <main>
    <!-- Gameboard Form -->
    <form id="gameboard" action="/app" method="post">

      <div id="opponent" class="player-character">
        <div id="opponentImg" class="player-icon"></div>
        <p id="opponentName" class="player-name">CPU</p>
        <p id="opponentScore" class="player-score">30 points</p>
      </div>

      <div id="playerDiceWrapper">
        <!-- Dice Row 1 -->
        <div id="playerDiceRow1" class="player-diceRow">
          <div class="player-dice" <%= visibility %>>
            <input id="die1" name="die1" type="checkbox">
            <label for="die1" style="background: url('images/die-<%= dice[0];%>pips.png')
            no-repeat; background-size: cover"></label>
            <input type="hidden" name="die1value" value="<%= dice[0]; %>">
          </div>
          <div class="player-dice" <%= visibility %>>
            <input id="die2" name="die2" type="checkbox">
            <label for="die2" style="background: url('images/die-<%= dice[1];%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die2value" value="<%= dice[1]; %>">
          </div>
          <div class="player-dice" <%= visibility %>>
            <input id="die3" name="die3" type="checkbox">
            <label for="die3" style="background: url('images/die-<%= dice[2];%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die3value" value="<%= dice[2]; %>">
          </div>
        </div>
        <!-- Dice Row 2 -->
        <div id="playerDiceRow2" class="player-diceRow">
          <div class="player-dice" <%= visibility %>>
            <input id="die4" name="die4" type="checkbox">
            <label for="die4" style="background: url('images/die-<%= dice[3];%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die4value" value="<%= dice[3]; %>">
          </div>
          <div class="player-dice" <%= visibility %>>
            <input id="die5" name="die5" type="checkbox">
            <label for="die5" style="background: url('images/die-<%= dice[4];%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die5value" value="<%= dice[4]; %>">
          </div>
        </div>
      </div>

      <% let showButton = `style=""`; %>
      <% if (parseInt(body.rollNum) >= 3) { showButton = `style=visibility:hidden`; } %>
      <button id="rerollBtn" type="submit" name="reroll" <%= showButton %>>
        <%= Roll %>
        <input type="hidden" name="rollNum" value="<%= parseInt(body.rollNum) + 1 %>">
      </button>

      <div id="user" class="player-character">
        <div id="userImg" class="player-icon"></div>
        <p id="userName" class="player-name">USER</p>
        <p id="userScore" class="player-score">100 points</p>
      </div>

      <table id="scorecard">
        <colgroup>
          <col id="columnHeader">
          <col id="columnPlayer">
          <col id="columnOpponent">
        </colgroup>
        <thead>
          <tr>
            <th id="blankHeaderSpace" scope="col"></th>
            <th id="youHeader" scope="col">You</th>
            <th id="cpuHeader" scope="col">CPU</th>
          </tr>
        </thead>
        <tbody>
          <tr id="ones">
            <th class="leftColumn" scope="row">Ones</th>
            <td class="centerColumn">
              <% if (typeof body.ones !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="ones">
              <% } else { %>
              <button name="ones" type="submit"
                <%= visibility %>><%= scores.ones %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="twos">
            <th class="leftColumn" scope="row">Twos</th>
            <td class="centerColumn">
              <% if (typeof body.twos !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="twos">
              <% } else { %>
              <button name="twos" type="submit"
                <%= visibility %>><%= scores.twos %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="threes">
            <th class="leftColumn" scope="row">Threes</th>
            <td class="centerColumn">
              <% if (typeof body.threes !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="threes">
              <% } else { %>
              <button name="threes" type="submit"
                <%= visibility %>><%= scores.threes %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="fours">
            <th class="leftColumn" scope="row">Fours</th>
            <td class="centerColumn">
              <% if (typeof body.fours !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="fours">
              <% } else { %>
              <button name="fours" type="submit"
                <%= visibility %>><%= scores.fours %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="fives">
            <th class="leftColumn" scope="row">Fives</th>
            <td class="centerColumn">
              <% if (typeof body.fives !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="fives">
              <% } else { %>
              <button name="fives" type="submit"
                <%= visibility %>><%= scores.fives %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="sixes">
            <th class="leftColumn" scope="row">Sixes</th>
            <td class="centerColumn">
              <% if (typeof body.sixes !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="sixes">
              <% } else { %>
              <button name="sixes" type="submit"
                <%= visibility %>><%= scores.sixes %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="sum">
            <th class="leftColumn" scope="row">Sum</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="bonus">
            <th class="leftColumn" scope="row">Bonus</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="3-of-a-kind">
            <th class="leftColumn" scope="row">Three of a Kind</th>
            <td class="centerColumn">
              <% if (typeof body.three-of-a-kind !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="three-of-a-kind">
              <% } else { %>
              <button name="three-of-a-kind" type="submit"
                <%= visibility %>><%= scores.three_of_a_kind %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="4-of-a-kind">
            <th class="leftColumn" scope="row">Four of a Kind</th>
            <td class="centerColumn">
              <% if (typeof body.4-of-a-kind !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="4-of-a-kind">
              <% } else { %>
              <button name="4-of-a-kind" type="submit"
                <%= visibility %>><%= scores.four_of_a_kind %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="full-house">
            <th class="leftColumn" scope="row">Full House</th>
            <td class="centerColumn">
              <% if (typeof body.full-house !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="full-house">
              <% } else { %>
              <button name="full-house" type="submit"
                <%= visibility %>><%= scores.full_house %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="small-straight">
            <th class="leftColumn" scope="row">Small Straight</th>
            <td class="centerColumn">
              <% if (typeof body.small-straight !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="small-straight">
              <% } else { %>
              <button name="small-straight" type="submit"
                <%= visibility %>><%= scores.small_straight %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="large-straight">
            <th class="leftColumn" scope="row">Large Straight</th>
            <td class="centerColumn">
              <% if (typeof body.large-straight !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="large-straight">
              <% } else { %>
              <button name="large-straight" type="submit"
                <%= visibility %>><%=scores.large_straight %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="chance">
            <th class="leftColumn" scope="row">Chance</th>
            <td class="centerColumn">
              <% if (typeof body.chance !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="chance">
              <% } else { %>
              <button name="chance" type="submit"
                <%= visibility %>><%=scores.chance %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="yacht-z">
            <th class="leftColumn" scope="row">YACHT-Z</th>
            <td class="centerColumn">
              <% if (typeof body.yacht-z !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="yacht-z">
              <% } else { %>
              <button name="yacht-z" type="submit"
                <%= visibility %>><%=scores.yacht_z %></button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="totalScoreRow">
            <th class="leftColumn" scope="row">TOTAL SCORE</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
</body>

</html>