<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Scorecard Temp</title>

  <!-- Main Scorecard CSS -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body id="yachZscorecard">
  <script src="cs-scoring.js" defer></script>

  <header>
    <svg id="bgTriangle" height="79" width="102" focusable="false">
      <polygon points="0,0 50,75 100,0" />
    </svg>
    <div id="headerText">
      <p>Welcome to</p>
      <h1>Yacht-Z</h1>
    </div>
  </header>

  <main>
    <!-- Gameboard Form -->
    <form id="gameboard" action="/app" method="post">

      <div id="opponent" class="player-character">
        <!-- TODO: replace #opponentImg with <img> element  -->
        <div id="opponentImg" class="player-icon"></div>
        <p id="opponentName" class="player-name">CPU</p>
        <p id="opponentScore" class="player-score">30 points</p>
      </div>

      <div id="playerDiceWrapper">
        <!-- Dice Row 1 -->
        <div id="playerDiceRow1" class="player-diceRow">
          <div class="player-dice">
            <input id="die1" name="die1" type="checkbox">
            <% let die1num = 0 %>
            <% if (typeof body.die1 !== 'undefined') { %>
            <% die1num = prevRolls[0]; %>
            <% } else { %>
            <% die1num = dice.pop(); %>
            <% } %>
            <label for="die1" style="background: url('images/die-<%= die1num;%>pips.png')
            no-repeat; background-size: cover"></label>
            <input type="hidden" name="die1value" value="<%= die1num; %>">
          </div>
          <div class="player-dice">
            <input id="die2" name="die2" type="checkbox">
            <% let die2num = 0 %>
            <% if (typeof body.die2 !== 'undefined') { %>
            <% die2num = prevRolls[1]; %>
            <% } else { %>
            <% die2num = dice.pop(); %>
            <% } %>
            <label for="die2" style="background: url('images/die-<%= die2num;%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die2value" value="<%= die2num; %>">
          </div>
          <div class="player-dice">
            <input id="die3" name="die3" type="checkbox">
            <% let die3num = 0 %>
            <% if (typeof body.die3 !== 'undefined') { %>
            <% die3num = prevRolls[2]; %>
            <% } else { %>
            <% die3num = dice.pop(); %>
            <% } %>
            <label for="die3" style="background: url('images/die-<%= die3num;%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die3value" value="<%= die3num; %>">
          </div>
        </div>
        <!-- Dice Row 2 -->
        <div id="playerDiceRow2" class="player-diceRow">
          <div class="player-dice">
            <input id="die4" name="die4" type="checkbox">
            <% let die4num = 0 %>
            <% if (typeof body.die4 !== 'undefined') { %>
            <% die4num = prevRolls[3]; %>
            <% } else { %>
            <% die4num = dice.pop(); %>
            <% } %>
            <label for="die4" style="background: url('images/die-<%= die4num;%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die4value" value="<%= die4num; %>">
          </div>
          <div class="player-dice">
            <input id="die5" name="die5" type="checkbox">
            <% let die5num = 0 %>
            <% if (typeof body.die5 !== 'undefined') { %>
            <% die5num = prevRolls[4]; %>
            <% } else { %>
            <% die5num = dice.pop(); %>
            <% } %>
            <label for="die5" style="background: url('images/die-<%= die5num;%>pips.png')
              no-repeat; background-size: cover"></label>
            <input type="hidden" name="die5value" value="<%= die5num; %>">
          </div>
        </div>
      </div>

      <button id="rerollBtn" type="submit" name="reroll">
        ROLL
      </button>

      <div id="user" class="player-character">

        <!-- TODO: replace #opponentImg with <img> element  -->
        <div id="userImg" class="player-icon"></div>

        <p id="userName" class="player-name">USER</p>
        <p id="userScore" class="player-score">100 points</p>
      </div>

      <table id="scorecard">
        <colgroup>
          <col id="columnHeader">
          <col id="columnPlayer">
          <col id="columnOpponent">
        </colgroup>
        <thead>
          <tr>
            <th id="blankHeaderSpace" scope="col"></th>
            <th id="youHeader" scope="col">You</th>
            <th id="cpuHeader" scope="col">CPU</th>
          </tr>
        </thead>
        <tbody>
          <tr id="onesRow">
            <th class="leftColumn" scope="row">Ones</th>
            <td class="centerColumn">
              <% if (typeof body.onesSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="onesSelect">
              <% } else { %>
              <button name="onesSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="twosRow">
            <th class="leftColumn" scope="row">Twos</th>
            <td class="centerColumn">
              <% if (typeof body.twosSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="twosSelect">
              <% } else { %>
              <button name="twosSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="threesRow">
            <th class="leftColumn" scope="row">Threes</th>
            <td class="centerColumn">
              <% if (typeof body.threesSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="threesSelect">
              <% } else { %>
              <button name="threesSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="foursRow">
            <th class="leftColumn" scope="row">Fours</th>
            <td class="centerColumn">
              <% if (typeof body.foursSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="foursSelect">
              <% } else { %>
              <button name="foursSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="fivesRow">
            <th class="leftColumn" scope="row">Fives</th>
            <td class="centerColumn">
              <% if (typeof body.fivesSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="fivesSelect">
              <% } else { %>
              <button name="fivesSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="sixesRow">
            <th class="leftColumn" scope="row">Sixes</th>
            <td class="centerColumn">
              <% if (typeof body.sixesSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="sixesSelect">
              <% } else { %>
              <button name="sixesSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="sumRow">
            <th class="leftColumn" scope="row">Sum</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="bonusRow">
            <th class="leftColumn" scope="row">Bonus</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="3OAKRow">
            <th class="leftColumn" scope="row">Three of a Kind</th>
            <td class="centerColumn">
              <% if (typeof body.threeOfAKindSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="threeOfAKindSelect">
              <% } else { %>
              <button name="threeOfAKindSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="4OAKRow">
            <th class="leftColumn" scope="row">Four of a Kind</th>
            <td class="centerColumn">
              <% if (typeof body.fourOfAKindSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="fourOfAKindSelect">
              <% } else { %>
              <button name="fourOfAKindSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="fullHouseRow">
            <th class="leftColumn" scope="row">Full House</th>
            <td class="centerColumn">
              <% if (typeof body.fullHouseSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="fullHouseSelect">
              <% } else { %>
              <button name="fullHouseSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="smallStraightRow">
            <th class="leftColumn" scope="row">Small Straight</th>
            <td class="centerColumn">
              <% if (typeof body.smallStraightSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="smallStraightSelect">
              <% } else { %>
              <button name="smallStraightSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="largeStraightRow">
            <th class="leftColumn" scope="row">Large Straight</th>
            <td class="centerColumn">
              <% if (typeof body.largeStraightSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="largeStraightSelect">
              <% } else { %>
              <button name="largeStraightSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="chanceRow">
            <th class="leftColumn" scope="row">Chance</th>
            <td class="centerColumn">
              <% if (typeof body.chanceSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="chanceSelect">
              <% } else { %>
              <button name="chanceSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="yachtZRow">
            <th class="leftColumn" scope="row">YACHT-Z</th>
            <td class="centerColumn">
              <% if (typeof body.yachtZSelect !== 'undefined') { %>
              <p><%= body.dicetotal %></p>
              <input type="hidden" name="yachtZSelect">
              <% } else { %>
              <button name="yachtZSelect" type="submit">Select</button>
              <% } %>
            </td>
            <td class="rightColumn"></td>
          </tr>
          <tr id="totalScoreRow">
            <th class="leftColumn" scope="row">TOTAL SCORE</th>
            <td class="centerColumn"></td>
            <td class="rightColumn"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </main>
</body>

</html>